DATABASE_URL="file:./dev.db"

NEXT_PUBLIC_VAPID_PUBLIC_KEY="BFTQUP479ka7lON2EBz3z1u7yaOXd4PCZR43h5XXoqeA1VOo3-JtX7guzMGkWyrf5FdXqrIx1ECuOUUN4IqS0cE"
VAPID_PRIVATE_KEY="fd52uGQFBa5oXS75UGi3O9mFI34PWhCAgk3yGZj7CQ8"
VAPID_SUBJECT="mailto:hello@firsatradari.com"